<div class="form-group">
  <%= form_tag "/notifications" do %>
  <div>
    <%= text_field_tag :data, "", class: "form-control", placeholder: "Title" %>
  </div>
  <div>
  <%= text_field_tag :alert, "", class: "form-control", placeholder: "Message" %>
</div>
<div>
  <%= submit_tag 'Send', class: "btn btn-primary btn-block" %>
</div>
</div>
<% end %>
