<ul class="ul-class">
  <li class="li-class"><%= link_to "immunize", root_path, class: "li-a-class" %></li>
  <li class="pull-right"><%= link_to 'LOGOUT', destroy_user_session_path, :method => :delete, class: "li-a-class" %></li>
  <li class="pull-right"><%= link_to 'ADMIN', admin_root_path, class: "li-a-class" %></li>
  <li class="pull-right"><%= link_to 'HOME', root_path, class: "li-a-class" %></li>
</ul>
