<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 class="white">Create Location</h1>
      <div>
        <%= form_for(@location) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.submit %>
      </div>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
