<section id="about">
  <div class="container">
    <div class="section-heading scrollpoint sp-effect3">
      <h1>About Immunize</h1>
      <div class="divider"></div>
      <p>Created for Sacramento County and hack4sac</p>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-8">
        <div class="about-item scrollpoint sp-effect2">
          <i class="fa fa-download fa-2x"></i>
          <h3>Easy setup</h3>
          <p>Download the app to located FREE flu immunization clinics in Sacramento County.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-8" >
        <div class="about-item scrollpoint sp-effect5">
          <i class="fa fa-mobile fa-2x"></i>
          <h3>On-the-go</h3>
          <p>Receive update notifications if any new clinics are scheduled in the County.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-8" >
        <div class="about-item scrollpoint sp-effect5">
          <i class="fa fa-users fa-2x"></i>
          <h3>A Civic Solution</h3>
          <p>This was developed to inform the citizens of Sacramento County about clinic locations.</p>
        </div>
      </div>
    </div>
  </div>
</section>
