<footer>
  <div class="container">
    <a href="#" class="scrollpoint sp-effect3">
      <img src="assets/img/freeze/logo.png" alt="" class="logo">
    </a>

  <div class="social">
    <a href="https://twitter.com/SacCountyCA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
    <a href="https://www.facebook.com/SacramentoCounty" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
  </div>
    <div class="rights">
      <p>Copyright &copy; 2016</p>
      <p>Open Source Template by <a href="http://www.scoopthemes.com" target="_blank">ScoopThemes</a></p>
    </div>
  </div>
</footer>
