<!--RevSlider-->
<div class="tp-banner-container">
  <div class="tp-banner" >
    <ul>
      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
        <!-- MAIN IMAGE -->
        <%= image_tag 'transparent.png' %>
        <!-- <img src="assets/img/transparent.png"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat"> -->
        <!-- LAYERS -->
        <!-- LAYER NR. 1 -->
        <div class="tp-caption lfl fadeout hidden-xs"
            data-x="left"
            data-y="bottom"
            data-hoffset="30"
            data-voffset="0"
            data-speed="500"
            data-start="700"
            data-easing="Power4.easeOut">
            <%= image_tag 's1.png' %>
            <!-- <img src="assets/img/freeze/Slides/s1.png" alt=""> -->
        </div>

        <div class="tp-caption lfl fadeout visible-xs"
            data-x="left"
            data-y="center"
            data-hoffset="700"
            data-voffset="0"
            data-speed="500"
            data-start="700"
            data-easing="Power4.easeOut">
            <!-- <img src="assets/img/freeze/iphone-freeze.png" alt=""> -->
        </div>

        <div class="tp-caption large_white_bold sft" data-x="550" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1200" data-easing="Power4.easeOut">
            Sacramento County
        </div>

        <div class="tp-caption large_white_light sfb" data-x="550" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1500" data-easing="Power4.easeOut">
            Free Flu Shot Clinics
        </div>

        <div class="tp-caption sfb hidden-xs" data-x="550" data-y="center" data-hoffset="0" data-voffset="85" data-speed="1000" data-start="1700" data-easing="Power4.easeOut">
            <a href="#about" class="btn btn-primary inverse btn-lg">LEARN MORE</a>
        </div>
        <div class="tp-caption sfr hidden-xs" data-x="730" data-y="center" data-hoffset="0" data-voffset="85" data-speed="1500" data-start="1900" data-easing="Power4.easeOut">
            <a href="https://itunes.apple.com/us/app/immunize/id1094776022?mt=8" class="btn btn-default btn-lg">GET THE APP</a>
        </div>
      </li>
    </ul>
  </div>
</div>
